# **Challenge 1: SDG 2 Zero Hunger**
# *Team Name: Oculus*
Team Members: Saketh Maddineni, Rishikesh Sheernam, Vishal Teja Kosani, Sashank Talakola

**Dataset: https://drive.google.com/drive/u/0/folders/13Z7ntEX8ilBfhpvnuJIWahg9KDWDCS0X**

# **Pre-Processing Data:**

Pre-Processing Weather Data:

In [1]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving modified_weather_data.xlsx to modified_weather_data.xlsx
User uploaded file "modified_weather_data.xlsx" with length 31688909 bytes

In [2]:
import pandas as pd

df = pd.read_excel('modified_weather_data.xlsx')

In [3]:
df.head()

   Year  Dist_id  District  ...  Humidity_max Wind_min  Wind_max
0  2019      1.0  ADILABAD  ...         81.60      0.0       2.1
1  2019      1.0  ADILABAD  ...         78.30      0.0       7.1
2  2019      1.0  ADILABAD  ...         79.95      0.0       1.4
3  2019      1.0  ADILABAD  ...         94.80      0.0       1.1
4  2019      1.0  ADILABAD  ...         89.10      0.1       2.1

[5 rows x 12 columns]

In [4]:

df_2 = df.drop('District',axis = 1)
df_2 = df_2.drop('crop_season',axis = 1)
df_2.head()
#df_2019 = df_2[df_2.Year == ]
df_grouped = df_2.groupby(["Year","Dist_id","CropSeason_id"])
#["Temp_min	","Temp_max","Rainfall","Humidity_min","Humidity_max","Wind_min","Wind_max"].mean
#.groupby(['country']).price.agg([len, min, max])

In [5]:
mean_df_grouped = df_grouped.mean()
#df_grouped.head()
mean_df_grouped.head()

                             Temp_min   Temp_max  ...  Wind_min   Wind_max
Year Dist_id CropSeason_id                        ...
2017 1.0     1.0            15.538707  32.816461  ...       NaN  10.095250
             2.0            23.446432  32.260163  ...       NaN  12.779020
     2.0     1.0            16.119022  33.326261  ...       NaN   8.906590
             2.0            24.394733  32.959562  ...       NaN  10.149588
     3.0     1.0            16.402972  32.974806  ...       NaN  10.046074

[5 rows x 7 columns]

In [6]:
mean_df_grouped['Temp_mean'] = mean_df_grouped[['Temp_min','Temp_max']].astype(float).mean(axis=1)
mean_df_grouped['Humidity_mean'] = mean_df_grouped[['Humidity_min','Humidity_max']].astype(float).mean(axis=1)
mean_df_grouped['Wind_mean'] = mean_df_grouped[['Wind_min','Wind_max']].astype(float).mean(axis=1)
mean_df_grouped.head()

                             Temp_min   Temp_max  ...  Humidity_mean  Wind_mean
Year Dist_id CropSeason_id                        ...
2017 1.0     1.0            15.538707  32.816461  ...      50.358550  10.095250
             2.0            23.446432  32.260163  ...      74.524887  12.779020
     2.0     1.0            16.119022  33.326261  ...      55.462394   8.906590
             2.0            24.394733  32.959562  ...      75.550742  10.149588
     3.0     1.0            16.402972  32.974806  ...      55.766387  10.046074

[5 rows x 10 columns]

In [7]:
mean_df_grouped.drop(['Temp_min','Temp_max','Humidity_min','Humidity_max','Wind_min','Wind_max'],inplace=True,axis=1)
mean_df_grouped.head()

                            Rainfall  Temp_mean  Humidity_mean  Wind_mean
Year Dist_id CropSeason_id
2017 1.0     1.0            0.012771  24.177584      50.358550  10.095250
             2.0            4.855736  27.853297      74.524887  12.779020
     2.0     1.0            0.011316  24.722642      55.462394   8.906590
             2.0            4.458324  28.677147      75.550742  10.149588
     3.0     1.0            0.000000  24.688889      55.766387  10.046074

In [8]:
mean_df_grouped.describe()
mean_df_grouped.to_csv('grouped_weather_data.csv')

Preprocessing Yield Data:

In [11]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving 1_yield_data (2).xlsx - Data.csv to 1_yield_data (2).xlsx - Data.csv
User uploaded file "1_yield_data (2).xlsx - Data.csv" with length 29287 bytes

In [25]:
df = pd.read_csv("1_yield_data (2).xlsx - Data.csv",index_col= 'S.No')
df = df.drop('District',axis=1)
df.head()

           Crop  Dist_id       Year  Season  Season_yield  Total
S.No
1     groundnut        1  2016-2017  kharif             0   2068
2     groundnut       11  2016-2017  kharif             0   2068
4     groundnut       13  2016-2017  kharif          1930   2066
5     groundnut       21  2016-2017  kharif             0   2068
6     groundnut       22  2016-2017  kharif          1930   2044

In [26]:
df["Year"] = df["Year"].replace('2016-2017','2017', regex=True)
df["Year"] = df["Year"].replace('2017-2018','2018', regex=True)
df["Year"] = df["Year"].replace('2018-2019','2019', regex=True)
df.Year.unique()
df.head()

           Crop  Dist_id  Year  Season  Season_yield  Total
S.No
1     groundnut        1  2017  kharif             0   2068
2     groundnut       11  2017  kharif             0   2068
4     groundnut       13  2017  kharif          1930   2066
5     groundnut       21  2017  kharif             0   2068
6     groundnut       22  2017  kharif          1930   2044

In [27]:
df['Season'] = df['Season'].replace('kharif',2.0, regex=True)
df['Season'] = df['Season'].replace('rabi',1.0, regex=True)
df.head()

           Crop  Dist_id  Year  Season  Season_yield  Total
S.No
1     groundnut        1  2017     2.0             0   2068
2     groundnut       11  2017     2.0             0   2068
4     groundnut       13  2017     2.0          1930   2066
5     groundnut       21  2017     2.0             0   2068
6     groundnut       22  2017     2.0          1930   2044

In [28]:
df = df.rename(columns={"Season":"CropSeason_id"})
df.head()
df_2 = df.copy()

In [29]:
df_2.drop(["Total"],axis=1,inplace=True)
df_2.head()

           Crop  Dist_id  Year  CropSeason_id  Season_yield
S.No
1     groundnut        1  2017            2.0             0
2     groundnut       11  2017            2.0             0
4     groundnut       13  2017            2.0          1930
5     groundnut       21  2017            2.0             0
6     groundnut       22  2017            2.0          1930

In [30]:
yield_df = df_2.copy()

In [31]:
df_2 = df_2.groupby(["Year","Dist_id","CropSeason_id"])
df_2.head()

             Crop  Dist_id  Year  CropSeason_id  Season_yield
S.No
1       groundnut        1  2017            2.0             0
2       groundnut       11  2017            2.0             0
4       groundnut       13  2017            2.0          1930
5       groundnut       21  2017            2.0             0
6       groundnut       22  2017            2.0          1930
...           ...      ...   ...            ...           ...
555   bengal gram       30  2019            1.0          2140
556   bengal gram       18  2019            1.0          1569
557   bengal gram       19  2019            1.0          1569
558   bengal gram       28  2019            1.0          1569
559   bengal gram       10  2019            1.0          1569

[558 rows x 5 columns]

In [32]:
weather_df = pd.read_csv('grouped_weather_data.csv')
weather_df.head()

   Year  Dist_id  CropSeason_id  Rainfall  Temp_mean  Humidity_mean  Wind_mean
0  2017      1.0            1.0  0.012771  24.177584      50.358550  10.095250
1  2017      1.0            2.0  4.855736  27.853297      74.524887  12.779020
2  2017      2.0            1.0  0.011316  24.722642      55.462394   8.906590
3  2017      2.0            2.0  4.458324  28.677147      75.550742  10.149588
4  2017      3.0            1.0  0.000000  24.688889      55.766387  10.046074

In [33]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190 entries, 0 to 189
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Year           190 non-null    int64
 1   Dist_id        190 non-null    float64
 2   CropSeason_id  190 non-null    float64
 3   Rainfall       190 non-null    float64
 4   Temp_mean      190 non-null    float64
 5   Humidity_mean  190 non-null    float64
 6   Wind_mean      190 non-null    float64
dtypes: float64(6), int64(1)
memory usage: 10.5 KB

In [34]:
# Get list of categorical variables
exp_yield_df = yield_df.copy()
#exp_yield_df.drop("Year",inplace=True,axis=1)
s = (exp_yield_df.dtypes == 'object')
#s.drop("Year",inplace=True)
#object_cols = list(s[s].index)
object_cols = ['Crop']


print("Categorical variables:")
print(object_cols)

Categorical variables:
['Crop']

In [35]:
from sklearn.preprocessing import OneHotEncoder

# Apply one-hot encoder to each column with categorical data
OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)
OH_cols_yield = pd.DataFrame(OH_encoder.fit_transform(exp_yield_df[object_cols]))

In [36]:
# One-hot encoding removed index; put it back
OH_cols_yield.index = exp_yield_df.index


# Remove categorical columns (will replace with one-hot encoding)
exp_yield_df = exp_yield_df.drop(object_cols, axis=1)
#num_X_valid = X_valid.drop(object_cols, axis=1)

# Add one-hot encoded columns to numerical features
OH_exp_yield = pd.concat([exp_yield_df, OH_cols_yield], axis=1)

In [37]:
OH_exp_yield.head()
#OH_exp_yield.describe()
#OH_exp_yield.info()
OH_exp_yield.tail()

      Dist_id  Year  CropSeason_id  Season_yield    0    1    2
S.No
555        30  2019            1.0          2140  1.0  0.0  0.0
556        18  2019            1.0          1569  1.0  0.0  0.0
557        19  2019            1.0          1569  1.0  0.0  0.0
558        28  2019            1.0          1569  1.0  0.0  0.0
559        10  2019            1.0          1569  1.0  0.0  0.0

In [39]:
OH_exp_yield.rename(columns={0:'bengal gram'},inplace=True)
OH_exp_yield.rename(columns={1:'groundnut'},inplace=True)
OH_exp_yield.rename(columns={2:'maize'},inplace=True)
OH_exp_yield.head()

      Dist_id  Year  CropSeason_id  Season_yield  bengal gram  groundnut  maize
S.No
1           1  2017            2.0             0          0.0        1.0    0.0
2          11  2017            2.0             0          0.0        1.0    0.0
4          13  2017            2.0          1930          0.0        1.0    0.0
5          21  2017            2.0             0          0.0        1.0    0.0
6          22  2017            2.0          1930          0.0        1.0    0.0

In [40]:
new_weather = weather_df.copy()
new_weather['Year'] = new_weather['Year'].replace(2017,'2017', regex=True)
new_weather['Year'] = new_weather['Year'].replace(2018,'2018', regex=True)
new_weather['Year'] = new_weather['Year'].replace(2019,'2019', regex=True)

In [41]:
new_weather.Dist_id.unique()
OH_exp_yield.Dist_id.unique()
OH_exp_yield['Dist_id'].value_counts(dropna=False)
OH_exp_yield['Dist_id'].unique()

array([ 1, 11, 13, 21, 22,  4, 23,  6,  2, 16, 31, 32,  9, 24,  8, 26, 14,
       27,  5, 33, 15,  3, 25, 29, 12,  7, 30, 18, 19, 28, 10])

In [42]:
weather_df = weather_df[weather_df.Dist_id != 17]
weather_df = weather_df[weather_df.Dist_id != 20]

In [43]:
weather_df['Dist_id'] = weather_df['Dist_id'].replace(34,33)
weather_df.Dist_id.unique()

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12., 13.,
       14., 15., 16., 18., 19., 21., 22., 23., 24., 25., 26., 27., 28.,
       29., 30., 31., 32., 33.])

In [44]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 182 entries, 0 to 189
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Year           182 non-null    int64
 1   Dist_id        182 non-null    float64
 2   CropSeason_id  182 non-null    float64
 3   Rainfall       182 non-null    float64
 4   Temp_mean      182 non-null    float64
 5   Humidity_mean  182 non-null    float64
 6   Wind_mean      182 non-null    float64
dtypes: float64(6), int64(1)
memory usage: 11.4 KB

In [45]:
OH_exp_yield['Year'] = OH_exp_yield['Year'].astype(int)
OH_exp_yield['Dist_id'] = OH_exp_yield['Dist_id'].astype(float)
OH_exp_yield.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 558 entries, 1 to 559
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Dist_id        558 non-null    float64
 1   Year           558 non-null    int64
 2   CropSeason_id  558 non-null    float64
 3   Season_yield   558 non-null    int64
 4   bengal gram    558 non-null    float64
 5   groundnut      558 non-null    float64
 6   maize          558 non-null    float64
dtypes: float64(5), int64(2)
memory usage: 34.9 KB

In [46]:
left = OH_exp_yield.set_index(['Year','Dist_id','CropSeason_id'])
right = weather_df.set_index(['Year','Dist_id','CropSeason_id'])
merged_df = left.join(right,lsuffix="_y",rsuffix="_w")

In [47]:
merged_df.to_csv('merged_data.csv')

After Analyzing and Pre-Processing the Data Sets Given By TSiC, We created a new merged Dataset from the above Datasets, These steps are done for simpler model building.

*Working on Merged Dataset for model building*

In [48]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving merged_data.csv to merged_data (1).csv
User uploaded file "merged_data.csv" with length 56768 bytes

In [49]:
df = pd.read_csv('merged_data.csv')
df.head()

   Year  Dist_id  CropSeason_id  ...  Temp_mean  Humidity_mean  Wind_mean
0  2017      1.0            1.0  ...  24.177584      50.358550   10.09525
1  2017      1.0            1.0  ...  24.177584      50.358550   10.09525
2  2017      1.0            1.0  ...  24.177584      50.358550   10.09525
3  2017      1.0            2.0  ...  27.853297      74.524887   12.77902
4  2017      1.0            2.0  ...  27.853297      74.524887   12.77902

[5 rows x 11 columns]

In [50]:
df = df.fillna(method='bfill', axis=0).fillna(0)

In [51]:
testing_df = df.copy()

In [52]:
testing_df.drop('Year',axis=1,inplace=True)
testing_df.head()

   Dist_id  CropSeason_id  Season_yield  ...  Temp_mean  Humidity_mean  Wind_mean
0      1.0            1.0          2068  ...  24.177584      50.358550   10.09525
1      1.0            1.0          6805  ...  24.177584      50.358550   10.09525
2      1.0            1.0          1551  ...  24.177584      50.358550   10.09525
3      1.0            2.0             0  ...  27.853297      74.524887   12.77902
4      1.0            2.0          3456  ...  27.853297      74.524887   12.77902

[5 rows x 10 columns]

In [53]:
testing_df.columns

Index(['Dist_id', 'CropSeason_id', 'Season_yield', 'bengal gram', 'groundnut',
       'maize', 'Rainfall', 'Temp_mean', 'Humidity_mean', 'Wind_mean'],
      dtype='object')

In [54]:
from sklearn.model_selection import train_test_split
features = ['Dist_id', 'CropSeason_id', 'bengal gram', 'groundnut',
       'maize', 'Rainfall', 'Temp_mean', 'Humidity_mean', 'Wind_mean']
X = testing_df[features]
y = testing_df["Season_yield"]
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)

In [55]:
# Scikit Learn module
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()
lin_reg.fit(train_X,train_y) # Note: x_0 =1 is no need to add, sklearn will take care of it.

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [57]:
# sklearn regression module
yield_pred = lin_reg.predict(val_X)

#Evaluvation: MSE
from sklearn.metrics import mean_squared_error
J_mse_sk = mean_squared_error(yield_pred, val_y)

# R_square
R_square_sk = lin_reg.score(val_X,val_y)
print('The Mean Square Error(MSE) or J(theta) is: ',J_mse_sk)
print('R square obtain for scikit learn library is :',R_square_sk)

The Mean Square Error(MSE) or J(theta) is:  922948.7411124223
R square obtain for scikit learn library is : 0.8331152354634621